# Looping

In [ ]:
sum_total= 0
for i in range (11): #range(11)={0,1...10}
sum_total = sum_total+1
print(sum_total)

In [ ]:
?range

In [ ]:
fall24=['MATH208','Math240']

In [ ]:
print(fall24[0])

In [ ]:
for course in fall24:
    print(course)

In [ ]:
for i in fall24:
    print(i)

In [ ]:
for j in range(4): #jwill be increased from 0-3
    print(fall24[1])

In [ ]:
#use f string to print thigs
for course in fall24:
    print(f"I will take{course}next semester!")

In [ ]:
#Automatic indentation is made for "for" loops Bc indentation matters in Python
#what happens of there is no indentation?
for couse in fall24:
    print(f"i will take {course}next semester!")#this code doesn't apply to the for loop!

In [ ]:
#what if we make unnecessary indentation?
message="I am excited for the new semester"
print(message)

# Numerical lists

In [ ]:
?range

In [ ]:
range(4)

In [ ]:
list(range(4))

In [ ]:
#specify starting point as well
list(range(1,4))

In [ ]:
#Define steps as well
list(range(1,10,2))

In [ ]:
#How can we evaluate 1^2 +2^2+...+10^2?
#list(range(1,11))
#for i in range (11):
    #sum_total=sum_total**2
    #print(sum_total)
    
sum_total=0
for i in range(11):# i iterates form 0 to 10
    sum_total=sum_total+ i**2
    print(sum_total)

In [ ]:
#You can use numpy array as well

import numpy as np

In [ ]:
np.array(range(1,11))

In [ ]:
np.array(range(1,11))**2

In [ ]:
np.sum(np.array(range(1,11))**2)

In [ ]:
#list comprehension
squares = [number**2 for number in range(1,11)]#number will be the element of the new list

In [ ]:
squares

In [ ]:
sum(squares)

# Working with part of the list

In [ ]:
fall24

In [ ]:
fall24.append('EAST213')

In [ ]:
fall24

In [ ]:
fall24[0]

In [ ]:
fall24[0:2] #access elements who indices lie bewteen 0 and 1

In [ ]:
fall24[:3]#empty space before the double colon means you are subsetting from the index 0

In [ ]:
fall24[2:]#empty space after the double colon means you are subsetting up to the last index

In [ ]:
fall24[-1]#last element of the list

In [ ]:
fall24[-2:-1]

In [ ]:
fall24[3:1]#doesn't give any output

## Retrieve index from list values

In [ ]:
?fall24.index

In [ ]:
fall24

In [ ]:
fall24.index('Math240')

In [ ]:
fall24.index('Math242')#index of an unexisting element

## Boolean varibales to filter list(numpy arrays)

In [ ]:
#what are the boolean varibales? they are True/False

In [ ]:
1==2#double equal sign is to hceck whether two values around it are equal

In [ ]:
1!= 2 #are the two numbers not equal?

In [ ]:
1>2

In [ ]:
1<=2 #less than equal to

In [ ]:
a=np.array([1,2,3,4])
b=np.array([1,3,2,4])

In [ ]:
#boolean operators work element wise for arrays you can use this to filter your arrays
a==b

In [ ]:
a[a==b] #we are filtering elements who outcome of the Boolean operation (a==b) is True

In [ ]:
list(a[a==b])#convert array to list by using the "list"function

In [ ]:
#%operator
7%3

In [ ]:
7%4 #7=4*1 +3

In [ ]:
7%2 #7=2*3 +1

In [ ]:
4%2 #4=2*2+0

In [ ]:
# % variable is very useful to tell whether a number is divisible by another number

In [ ]:
#exercise2
a=np.array(range(1,101))

In [ ]:
#create a subarray(sublist)of that contains only the numers divisible by 3,
#i.e.[3,6,9,...,99]
#hint: the % operator and subsetting technique using boolean operators!

a%3

In [ ]:
a%3==0#is the remainder from the division by 3

In [ ]:
a[a%3==0]

# Copying a list

In [ ]:
fall24

In [ ]:
#assume you'll take the same courses in the winter semester
winter24=fall24
winter24

In [ ]:
#you changed your mind for the fall semester, decided to take COM252 instead of COMP250
fall24[2]='COMP252'

In [ ]:
fall24

In [ ]:
#AM i still taking COMP250 in the winter semester?
winter24

In [ ]:
#It turns out that fall24 and winter 24 are exactly the same list (with different naming)
Then how could we actually make a copy?
winter25=fall24[:]
winter25

In [ ]:
fall24[2]="COMP250"
fall24

In [ ]:
winter25

# TUPLES

In [ ]:
#Tuples are basically lists that are inmutable, 
#use parentheses instead of brakets to define them

In [ ]:
requirements=('Math208', 'Comp250')
requirements

In [ ]:
requirements[0]='Math240'

In [ ]:
#You can still do similar things on tuple objects that you would do on lists
for course in requirements:
    print(course)

In [ ]:
#If you wnat to modify a tuple onject, you'ill have to reassign every element!
requirements=('Math240','COMP250')

In [ ]:
requirements

In [ ]:
Kiwon=['apple','mango','banana','matermelon','pineapple']
Andrew=['mango','banada','pineapple','watermelon','apple']
#Using for loop, print your fav fruit in order, "apple is my 1st favorite fruit! 
#I see that Andrew likes apple as his 5th favorite fruit!"

# Chapter5

In [ ]:
my_age=18

In [ ]:
my_age>18

In [ ]:
my_age==18

In [ ]:
my_age<18

In [ ]:
my_age>17 and my_age <19 #not zero?yes, bc it is true, so chekc the second one as well, yes bc it is true

In [ ]:
my_age<17 and my_age<19

In [ ]:
#better readibility
(my_age>17) and (my_age<19)

In [ ]:
#in operator : check whether a value is in a list
fall24=['MATH208','MATH240','COMP250','PHIL311']

In [ ]:
#I want to check whether a course name exists in the list
'MATH208' in fall24

In [ ]:
"Math242" in fall24

In [ ]:
'MATH242' not in fall24 #Is Math242 not in the fall 24 list?

In [ ]:
#so the following grammar indeed makes snes!
for i in range(10): #increase i from 0 until "in range(10)" is true!
    #When i reaches 10, it is not"in range(10)anymore, so we stop the process
    print(i)

# IF Statements

# The basic grammar of the *if* statements is as follows:
    if (condition to be tested):
        <<do something>>(As long as the condition is TRUE)

In [ ]:
my_age=20

In [ ]:
if my_age>18:
    print("You can drink in Quebec")#20 is igger than equal to 18, we do the printing

In [ ]:
if my_age <18:
    print("You can drink in Quebec")#The condition (my_age<18) is false, so no print.

# IF-else statement

In [ ]:
my_age =18
if my_age>=18:
    print("You may dirnk in Quebec")
else: #if my_age <18:
    print("You may not dirnk in Quebec!")

In [ ]:
my_age =15
if my_age>=18: 
    print("You may drink in Quebec")
    
else:#this will be effective
    print("You may not drink in Quebec")

# IF-elif-else Chain

In [ ]:
my_age=20
if my_age >=21:
    print("You may drink in the US!")
elif my_age>=18: #my_age >=18 AND my_age <21
    print("You may not drink in the US but you cna drink in QC")
else: #my_age <18
    print("You may not even drink in Quebec!")

In [ ]:
my_age=30
if my_age>=30:
    print("You may drink everywhere but think of your health!")
if my_age >=21:
    print("You may drink in the US!")
elif my_age>=18: #my_age >=18 AND my_age <21
    print("You may not drink in the US but you cna drink in QC")
else: #my_age <18
    print("You may not even drink in Quebec!")

# Exercise
Define one input variable, for example

In [ ]:
a =100

#wirte code that tells you whether this input is divisible by 2, or 5.
Give some message if it is not divisible by any of them.
you can give an error messgage if your input is not an integer between 1 and 100.

In [ ]:
a%2

In [ ]:
if a%5==0:
    print(f"{a} is divisible by 2.")
elif a%3==0:
    print(f"{a} is divisible by 2.")
elif a%2==0:
    print(f"{a} is divisible by 2.")

In [ ]:
#version2: check all the three conditions
a=11

if a%2!=0 and a%3=0 and a%5!=0:
    print("This number is not great")
else: #so a is divisable by 2,3 or 5
    if a%5==0:
        print(f"{a} is divisible by 5.")
    if a%3==0:
        print(f"{a} is divisible by 3.")
    if a%2==0:
        print(f"{a} is divisible by 2.")

In [ ]:
int(2.9) #rounds the number

In [ ]:
int(a)==a #how you can check thwether an input is an interger

In [ ]:
int(2.5)==2.5

In [ ]:
a =100
a=11
a=500
if int(a)==a and a>=1 and a<=100:

if a%2!=0 and a%3=0 and a%5!=0:
    print("This number is not great")
else: #so a is divisable by 2,3 or 5
    if a%5==0:
        print(f"{a} is divisible by 5.")
    if a%3==0:
        print(f"{a} is divisible by 3.")
    if a%2==0:
        print(f"{a} is divisible by 2.")
else: 
    print("Our input doesn't satisfy")
    print("It has to be an integer between 1 and 100")

# Working with lists using the if statement

In [ ]:
a=list(range(1,101))

In [ ]:
b=[]
for number in a : #looping over numbers in the list a from 1 to 100
    if number%3 ==0: #if the number is divisible by 3
        b.append(number)

# Working on multiple lists

In [ ]:
fall24

In [ ]:
fall24_Lee =fall24 [:]
fall24_Kim =['MATH208','MATH242','EAST312','COMP250']

In [ ]:
#Goal: print the names of the courses that the two people registered for together!
for course in fall24_Lee:
    #check if each couse name appears in teh second list:
    if course in fall24_Kim:
        print("Kim and lee will be taking {course} together next semester!")

In [ ]:
#How to check whether a list is empty or not:
fall24_Lee=[]#creating an empty list
if fall24_Lee: #True if the list is not empty
    print(f"I will take {course}next semester!")
          
else: #the list is empty
          print("Are you sure you won;t take any courses?")

# While loop

In [ ]:
#while loop will run as long as a certain condition is true

In [ ]:
#The basic grammar:
while (condition to be tested):
    do somthing(as long as the consition is True)
    (Go back to the beginning of the while loop)

In [ ]:
for i in range(1,11):
    print(i)

In [ ]:
iterator = 1
while(iterator <=10):
    print(iterator)
    iterator = iterator + 1
    #or you can write down ietrator+=1

In [ ]:
iterator

In [ ]:
#while loop can be useful when you don't know when to stop your loop a priori.

# Quitting while loop using "User input"

In [1]:
?input

input("say whatever youw want to say")

In [2]:
message = input("say whatever youw want to say:")

say whatever youw want to say:hello

In [3]:
message

'hello'

In [ ]:

message=""
while(message !="quit"):
    print("Press 'quit' if you want to stop talking")
    message =input("what do you want to eat today?")
    if message !="quit":
                print(f"I want to eat {message}today.")

Press 'quit' if you want to stop talking

In [ ]:
number_example =input("Give me a number")

In [ ]:
number_example

In [ ]:
type(number_example)

In [ ]:
number_example +3

In [ ]:
number_example_2=interint(input("give me a number"))

In [ ]:
number_example_2

In [ ]:
type(Num)